{% extends "base.html" %}

{% block content %}
  <div class="p-4 bg-white rounded shadow-sm text-center">
    <h2>Bienvenido al Sistema Coca Cola</h2>
    <p>Administrador: Gestión de Clientes, Productos y Pedidos.</p>
    <p>Total de clientes registrados: {{ total_clientes }}</p>

    <h5>Imagen destacada</h5>
    <img src="https://www.coca-cola.com/content/dam/onexp/mx/es/brands/coca-cola/ccns-2025/ccns_mx_desktop.jpg" 
         alt="Coca-Cola" 
         class="img-fluid rounded mt-3 mb-4">

    <p>Usa el menú de navegación para acceder a las secciones del sistema.</p>
  </div>
{% endblock %}
