{% extends "base.html" %}
{% block content %}
<div class="card">
  <div class="card-header">Actualizar Cliente</div>
  <div class="card-body">
    <form method="post" action="{% url 'realizar_actualizacion_cliente' cliente.id %}">
      {% csrf_token %}
      <div class="row mb-2">
        <div class="col"><input class="form-control" name="nombre" value="{{ cliente.nombre }}"></div>
        <div class="col"><input class="form-control" name="apellido" value="{{ cliente.apellido }}"></div>
      </div>
      <div class="mb-2">
        <input class="form-control" name="direccion" value="{{ cliente.direccion }}">
      </div>
      <div class="row mb-2">
        <div class="col"><input class="form-control" name="ciudad" value="{{ cliente.ciudad }}"></div>
        <div class="col"><input class="form-control" name="estado" value="{{ cliente.estado }}"></div>
        <div class="col"><input class="form-control" name="codigo_postal" value="{{ cliente.codigo_postal }}"></div>
      </div>
      <div class="row mb-2">
        <div class="col"><input class="form-control" name="telefono" value="{{ cliente.telefono }}"></div>
        <div class="col"><input class="form-control" name="email" value="{{ cliente.email }}"></div>
      </div>
      <div class="mb-2">
        <input class="form-control" name="preferencia" value="{{ cliente.preferencia }}">
      </div>
      <div class="mb-2">
        <input class="form-control" type="date" name="fecha_nacimiento" value="{{ cliente.fecha_nacimiento|date:'Y-m-d' }}">
      </div>
      <button class="btn btn-primary" type="submit">Guardar Cambios</button>
      <a href="{% url 'ver_cliente' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}
